.myself {
  border-radius: 10px;
  max-width: 100%;
  display: block;
  margin: auto;
}

h1 {
  font-size: 25px;
}

@media (min-width: 500px) {
  h1 {
    font-size: 50px;
  }
}

.about-section {
  color: var(--primary-font-color);
  text-align: center;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  margin: 100px auto;
}

.about-section > div:first-child {
  width: 100%;
  text-align: center;
}

.back-to-hp {
  text-align: center;
}

.contact-button {
  background-color: var(--tertiary-color);
}

.contact-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
}

a:link {
  color: var(--primary-font-color);
}
a:visited {
  color: var(--secondary-font-color);
}
