.container {
  display: flex;
  flex-wrap: wrap;
}

.myself {
  border-radius: 10px;
  max-width: 100%;
  display: block;
  margin: auto;
}

h1 {
  font-size: 25px;
}

@media (min-width: 500px) {
  h1 {
    font-size: 50px;
  }
}

.about-section {
  color: var(--primary-font-color);
  text-align: center;
  background-color: #f3f9fb;
  border-radius: 5px;
  margin: 100px 50px;
}

.about-section > div:first-child {
  width: 100%;
  text-align: center;
}
