.mv-logo {
  max-width: 250px;
  border-radius: 10px;
  display: block;
  margin: auto;
}
p {
  font-size: 35px;
}

h1 {
  font-family: playfair display;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

@media (min-width: 500px) {
  h1 {
    font-size: 96px;
  }
}

.introduction {
  color: var(--primary-font-color);
  text-align: center;
  background-color: #f3f9fb;
  border-radius: 5px;
  padding: 100px 0;
}

.contact-button {
  text-align: center;
}

.contact-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
}
