.mv-logo {
  max-width: 250px;
  border-radius: 10px;
  display: block;
  margin: auto;
}

h1 {
  font-style: oblique;
  text-align: center;
}

.introduction {
  color: var(--primary-font-color);
  text-align: center;
  background-color: #f3f9fb;
  border-radius: 5px;
  padding: 40px;
}

.contact-button {
  text-align: center;
}

.contact-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
}
